.header{
    width: 1110px;
    margin: auto;
    position: relative;
    margin-bottom: 200px;
}

.header_image{
    width: 635px;
    height: 720px;
    filter: brightness(50%); 
}

.header_content{
    width: 628px;
    height: 503px;
    padding-left: 50px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.header_content h1{
    color: #EEEFF4;
    margin: 0px;
    font-family: var(--font);
    font-size: 15.625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 200px; /* 80% */
    letter-spacing: -5px;
    position: absolute;
    top: -90px;
    right: 6px;
}

.header_text{
    width: 445px;
    display: flex;
    flex-direction: column;
    gap: 37px;
}

.header_text hr{
    width: 65px;
    height: 1px;
    border: none;
    background-color: #C8CCD8;
    margin: 0px 0px 36px 0px;
}

.header_text h2{
    color: #1B1D23;
    font-family: var(--font);
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 88.889% */
    letter-spacing: -2px;
    margin: 0px;
}

.header_text p{
    color: #60636D;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin: 0px;
}

@media(max-width: 1440px){
    .header{
        width: 100%;
    }
}

@media(max-width: 1045px){
    .header_content{
        width: 87%;
    }
}

@media(max-width: 1010px){
    .header_content h1{
        font-size: 13rem;
    }
}

@media(max-width: 965px){
    .header_image{
        width: 100%;
        object-fit: cover;
    }
}

@media(max-width: 880px){
    .header_content{
        height: 431px;
        justify-content: start;
    }
    
    .header_content h1{
        font-size: 7.5rem;
        letter-spacing: -2px;
        line-height: 64px;
        top: -18px;
        left: initial;
        right: 5px;
    }

    .header_text{
        width: 380px;
        flex-shrink: 0;
    }

    .header_text hr{
        margin-bottom: 35px;
    }

}

@media(max-width: 600px){

    .header{
        height: 520px;
        margin-bottom: 76px;
    }

    .header_content{
        width: 92%;
        height: auto;
        padding: 65px 0px 0px 20px;
        align-items: start;
        justify-content: center;
        top: 195px;
        bottom: initial;
        right: initial;
        left: 0px;
    }

    .header_content h1, .header_content hr{
        display: none;
    }

    .header_text{
        width: 311px;
        gap: 21px;
        flex-shrink: 1;
    }

    .header_text h2{
        font-size: 3rem;
        line-height: 52px; /* 108.333% */
        letter-spacing: -1.2px;
    }

    .header_text p{
        width: 95%;
    }

    .header_image{
        height: 240px;    
    }
}
