.header{
    height: 720px;
    position: relative;
    margin-bottom: 195px;
}

.header_content{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 190px;
    transition: width 0.2s linear;
    position: absolute;
}

.header_text{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.header_content h1 {
    color: #FFF;
    font-family: var(--font);
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 83.333% */
    letter-spacing: -2px;
    margin: 0px 0px 10px 0px;
}

.header_content p{
    width: 445px;
    color: #FFF;
    font-family: var(--font);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
    margin: 0px 0px 41px 0px;
}

.header_content button {
    width: 252px;
    height: 72px;
    background-color: #1B1D23;
    color: #FFF;
    text-align: right;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border: none;
    cursor: pointer;
    padding: 0px;
}

.header_content button:hover{
    background-color: #60636D;
}

.arrow{
    width: 24px;
    height: 18px;
}

.header_carousel{
    display: flex;
    position: absolute;
    bottom: -16px;
    left: -120px;
    list-style-type: none;
    z-index: var(--far);
}

.header_carousel button{
    width: 80px;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #7D828F;
    text-align: center;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; /* 138.889% */
    cursor: pointer;
}

.header_carousel button:hover{
    background-color: #EEEFF4;;
}

@media(max-width: 1200px){
    .header_content{
        padding: 0px;
        align-items: center;
    }
}

@media(max-width: 1000px){
    .header_text{
        width: 80%;    
    }

    .header_text h1, .header_text p{
        width: 100%;
    }
}

@media(max-width: 800px){
    .header{
        margin-bottom: 248px;
    }
}

@media(max-width: 600px){
    .header{
        margin-bottom: 141px;
    }

    .header_carousel{
        display: none;
    }

    .header_content h1 {
        font-size: 3rem;
        letter-spacing: -1.2px;
        line-height: 48px;
        margin-bottom: 11px;
    }

    .header_content p {
        margin-bottom: 83px;
    }
}