.container{
    height: 92px;
    border: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.textarea{
    width: 100%;
    height: 96px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #1B1D23;
    padding: 0px 0px 0px 34px;
    resize: none;
    color: #1B1D23;
    font-family: var(--font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.312px;
}

.textarea:focus{
    outline: none;
}

.textarea:hover{
    border-bottom: 3px solid #1B1D23;
}

.textarea::placeholder{
    color: var(--placeholder,#C8CCD8);
    font-family: var(--font);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.312px;
}

.arrow{
    width: 24px;
    height: 18px;
}

.errorMessage{
    display: none;
    color: #DF5656;
    margin: 0px;
    font-family: var(--font);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.281px;
    position: absolute;
    right: 16px;
    bottom: 16px;
}