.container{
    padding: 0px 165px 0px 165px;
    margin-bottom: 159px;
}

@media(max-width: 800px){
    .container{
        padding: 0px 97px 0px 97px;
        margin-bottom: 239px;
    }
}

@media(max-width: 600px){
    .container{
        padding: 0px;
        margin-bottom: 111px;
    }
}